<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cross Browser Suite" parallel="classes" thread-count="2">
    <test name="TestsChrome" parallel="classes" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.solvd.SearchResultPageTest"/>
        </classes>
    </test>
    <test name="TestsFirefox" parallel="classes" thread-count="2">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.solvd.SearchResultPageTest"/>
        </classes>
    </test>
</suite>




